@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,800&display=swap");
@import url("db.onlinewebfonts.com/c/0cb7c7b91bfb261102957a90622d9534?family=Neue+Haas+Unica");

@font-face {
  font-family: "Neue Haas Unica";
  src: url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.eot");
  src: url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/0cb7c7b91bfb261102957a90622d9534.svg#Neue Haas Unica")
      format("svg");
}

@font-face {
  font-family: "VAGRoundedStd-Black";
  src: url("./public/VAGRoundedStd-Black.otf") format("opentype");
}

@font-face {
  font-family: "Solidar Sans";
  src: url("./public/SolidarSans.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis-Thin";
  src: url("./public/Metropolis-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Metropolis-Regular";
  src: url("./public/Metropolis-Regular.otf") format("opentype");
}

.slick-dots {
  position: absolute;
  bottom: -45px;

  display: block;

  width: 100%;
  padding: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "â€¢";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.nav {
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  background-color: #f4f6f3;
  padding: 0 60px;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-div img {
  height: 50%;
}

.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-ul li {
  padding: 0px 10px;
  letter-spacing: 1.7px;
}

.nav-logo-title {
  font-weight: bolder;
  font-family: "VAGRoundedStd-Black";
  letter-spacing: 1.6px;
}

.contact-li {
  border: 2px solid black;
  padding: 5px 20px !important;
  margin-left: 20px;
}

.active-nav-link {
  color: rgb(198, 6, 6);
}

.first-group-text {
  text-align: center;
  margin-top: 150px;
}

.first-group-p {
  font-weight: bold;
  letter-spacing: 1px;
}

.first-group-bigtitle {
  font-size: 4rem;
  font-family: "Neue Haas Unica";
}
.second-group-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f6f3;
  height: 120vh;
  min-height: 100vh;
  flex-wrap: nowrap;
}

.slide {
  background-color: white;
  margin: 50px 30px;
  width: 40%;
  min-width: 300px;
}

.slide img {
  height: 60%;
  width: 100%;
}

.slide-lower-title {
  letter-spacing: 2px;
  font-family: "Roboto";
}

.slick-dots {
  background-color: #f4f6f3;
  margin-bottom: 550px;
  bottom: 40px !important;
}

.play-icon {
  border-radius: 50%;
  height: 22px !important;
  width: 22px !important;
  border: 2px solid black;
  padding: 4px 4.5px 4px 5.5px;
}

.slide-lower-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 30vh;
}

.slide-lower-div li {
  padding: 20px 110px;
  text-align: center;
}

.learn-more {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 6px 20px;
  text-align: center;
}

.only-img-div img {
  width: 100%;
  height: 100%;
  display: block;
}

.first-group-image-div img {
  width: 100%;
}

.featured-release-div {
  height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 200px;
}

.featured-release-text-div {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  margin-left: 220px;
}

.featured-release-title {
  font-family: "VAGRoundedStd-Black";
  letter-spacing: 1.8px;
  font-size: 1.1rem;
}

.featured-release-img-div img {
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

.featured-release-bigtitle {
  font-family: "Neue Haas Unica";
  font-size: 2.4rem;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-weight: bolder;
  padding: 15px 0 20px 0;
}

.featured-release-logo-div img {
  position: relative;
  left: -22px;
}
.featured-release-logo-div {
  padding-bottom: 20px;
}

.featured-release-text {
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 1.4px;
  width: 100%;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.fa-bars {
  display: none;
}

.times-active {
  display: block;
}

.bars-active {
  display: none;
}

.delete-icon {
  display: none;
  padding-top: 25px;
}

.active-delete-icon {
  display: block !important;
}

.deactivated-button {
  display: none;
}

.burger-icon {
  display: none;
}

.icon-button {
  display: none;
  text-align: center;
  border: none;
  background: transparent;
  position: relative;
  left: 10px;
  bottom: 50px;
}

.bar-icon {
  position: relative;
  top: 0px;
}

.nav-ul-active {
  visibility: visible !important;
  padding-top: 10px !important;
}

.footer {
  background-color: #171b1e;
  font-family: "VAGRoundedStd-Black" !important;
  color: white;
  font-size: 0.8rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  letter-spacing: 1.8px;
}

.footer-upper-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-bottom: 4px solid rgb(91, 89, 89);
}

.footer-lower-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.footer-upper-logo-li {
  margin-right: 100px;
}

.footer-upper-logo-li img {
  max-height: 100px;
}

.footer-upper-ul li {
  padding: 0 35px;
}

.footer-lower-ul li {
  padding: 0 5px;
}

.footer-upper-button-li {
  color: black;
  font-weight: bold;
  margin-left: 150px;
}

.footer-upper-button-li button {
  color: black;
  font-weight: bold;
  background: transparent;
  border: none;
  letter-spacing: 1.8px;
  font-size: 1rem;
}

.footer-home-li {
  margin-left: 250px;
}

@media (max-width: 1000px) {
  .featured-release-div {
    margin: 0 !important;
    padding: 5px 15px !important;
    min-height: 70vh !important;
    position: relative;
    top: 200px;
  }
}

@media (max-width: 320px) {
  .featured-release-text {
    line-height: 24px !important;
    letter-spacing: 1.3px !important;
  }
}

@media (max-width: 700px) {
  .slide-lower-div li {
    padding: 20px 60px;
  }
  .third-group-div {
    flex-direction: column;
  }

  .featured-release-logo-div {
    padding-bottom: 0px !important;
  }

  .featured-release-bigtitle {
    font-size: 1.9rem !important;
    padding: 0 !important;
  }

  .featured-release-title {
    font-size: 0.9rem !important;
  }

  .featured-release-text-div {
    margin-left: 0px !important;
    padding: 10px 20px !important;
    min-height: 135vh !important;
  }

  .featured-release-text {
    line-height: 20px !important;
    letter-spacing: 1.3px !important;
    padding: 10px 0;
  }

  .second-group-div {
    margin-bottom: 120px !important;
  }

  .slide {
    padding-bottom: 100px !important;
  }
  .featured-release-img-div {
    min-width: 100px !important;
  }

  .bar-icon {
    display: block !important;
    position: relative;
    right: 0px;
    top: 40px;
  }

  .nav-ul {
    visibility: hidden;
    display: block;
    text-align: left !important;
    margin: 0;
    padding: 0;
  }

  .active-li {
    display: none !important;
  }

  .active-contact {
    margin-left: 10px !important;
    padding: 2px 6px !important;
  }

  .bars-active {
    display: block !important;
  }

  .burger-icon {
    display: block !important;
    position: relative;
    right: 120px;
  }

  .first-group-bigtitle {
    font-size: 2.5rem;
  }

  .footer-upper-logo-li {
    margin-top: 80px;
    margin-left: 95px;
  }
  .slash-li {
    display: none;
  }

  .footer-upper-ul {
    flex-direction: column;
  }

  .footer li {
    padding: 1px 0;
    line-height: 17px;
  }

  .footer {
    padding-bottom: 100px;
  }

  .footer-upper-ul {
    border-bottom: none !important;
  }

  .footer-lower-ul {
    margin-top: 5px;
    flex-direction: column;
  }

  .footer {
    overflow: hidden;
    padding-left: 15px;
  }

  .footer-home-li {
    margin-left: 0 !important;
  }

  .footer-upper-button-li {
    margin: 10px 0;
  }

  .featured-release-img-div img {
    padding-left: 2px;
  }

  .slick-track {
    padding: 0px 2.5px 0px 0px;
  }

  .featured-release-img-div {
    margin-top: 25px;
  }
}

@media (max-width: 365px) {
  .slick-track {
    padding: 0px 3px;
  }

  .featured-release-img-div {
    margin-top: 10px;
  }
}

@media (max-width: 350px) {
  .icon-button {
    left: -20px;
    bottom: 43px;
  }

  .nav {
    padding: 0;
  }

  .nav-ul li {
    font-size: 12px;
  }

  .first-group-bigtitle {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .slide {
    min-width: 100px;
  }

  .slick-track {
    padding: 0;
  }

  .slide-lower-div {
    margin-top: 50px;
  }

  .featured-release-title {
    font-size: 0.7rem !important;
  }
  .featured-release-text {
    font-size: 12px;
    padding: 5px 0;
  }

  .featured-release-text-div {
    padding: 2px 20px !important;
    margin-bottom: 60px !important;
  }

  .featured-release-bigtitle {
    font-size: 1.5rem !important;
  }

  .date-span {
    position: relative;
    bottom: 20px;
    left: 160px;
    font-size: 12px !important;
  }

  .footer li {
    padding: 0;
    line-height: 16px;
  }

  .footer-upper-button-li button {
    color: white;
  }
  .featured-release-div {
    padding: 0 !important;
  }
}
