@media (max-width: 1030px) {
  .slide-lower-div li {
    padding: 20px 60px;
  }
  .third-group-div {
    flex-direction: column;
  }

  .featured-release-logo-div {
    padding-bottom: 0px !important;
  }

  .featured-release-bigtitle {
    font-size: 2.1rem !important;
  }

  .featured-release-title {
    font-size: 1.4rem !important;
  }

  .featured-release-text-div {
    margin-left: 0px !important;
    padding: 100px 120px !important;
    min-height: 135vh !important;
  }

  .featured-release-text {
    line-height: 40px !important;
    letter-spacing: 1.3px !important;
    padding: 10px 0;
    font-size: 1.5rem !important;
    margin: 50px 0;
  }

  .second-group-div {
    margin-bottom: 120px !important;
  }

  .slide {
    padding-bottom: 100px !important;
  }
  .featured-release-img-div {
    min-width: 100px !important;
  }

  .bar-icon {
    display: block !important;
    position: relative;
    right: 0px;
    top: 40px;
  }

  .nav-ul {
    visibility: hidden;
    display: block;
    text-align: left !important;
    margin: 0;
    padding: 0;
  }

  .active-li {
    display: none !important;
  }

  .active-contact {
    margin-left: 10px !important;
    padding: 2px 6px !important;
  }

  .bars-active {
    display: block !important;
  }

  .burger-icon {
    display: block !important;
    position: relative;
    right: 120px;
  }

  .first-group-bigtitle {
    font-size: 2.5rem;
  }

  .footer-upper-logo-li {
    margin-top: 80px;
    margin-left: 95px;
  }
  .slash-li {
    display: none;
  }

  .footer-upper-ul {
    flex-direction: column;
  }

  .footer li {
    padding: 10px 0;
    line-height: 17px;
    font-size: 1.2rem;
  }

  .footer {
    padding-bottom: 100px;
  }

  .footer-upper-ul {
    border-bottom: none !important;
  }

  .footer-lower-ul {
    margin-top: 5px;
    flex-direction: column;
  }

  .footer {
    overflow: hidden;
    padding-left: 15px;
  }

  .footer-home-li {
    margin-left: 0 !important;
  }

  .footer-upper-button-li {
    margin: 10px 0;
  }

  .featured-release-img-div img {
    padding-left: 2px;
  }

  .slick-track {
    padding: 0px 2.5px 0px 0px;
  }

  .featured-release-img-div {
    margin-top: 605px;
  }

  .footer-upper-button-li button {
    color: white;
  }

  .featured-release-div {
    margin: 0 !important;
    padding: 5px 15px !important;
    min-height: 70vh !important;
    position: relative;
    top: 200px;
  }

  .slick-dots {
    bottom: 400px !important;
  }

  .nav-ul li {
    font-size: 2rem;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 770px) {
  .slick-dots {
    bottom: 400px !important;
  }

  .featured-release-img-div {
    margin-top: 25px;
  }

  .featured-release-text {
    margin: 20px 0;
    font-size: 1.2rem !important;
  }

  .featured-release-text-div {
    padding: 50px 120px !important;
  }

  .featured-release-title {
    margin-top: 10px;
  }

  .nav-ul li {
    font-size: 1.4rem;
    padding-bottom: 5px;
  }

  .footer li {
    padding: 7px 0;
  }
}

@media screen and (max-width: 575px) {
  .slick-dots {
    bottom: 40px !important;
  }

  .featured-release-logo-div {
    padding-bottom: 0px !important;
  }

  .featured-release-bigtitle {
    font-size: 1.9rem !important;
    padding: 0 !important;
  }

  .featured-release-title {
    font-size: 0.9rem !important;
  }

  .featured-release-text-div {
    margin-left: 0px !important;
    padding: 10px 20px !important;
    min-height: 135vh !important;
  }

  .featured-release-text {
    line-height: 40px !important;
    letter-spacing: 1.3px !important;
    padding: 10px 0;
    font-size: 1.2rem !important;
    margin-top: 20px;
  }

  .featured-release-text {
    line-height: 20px !important;
    letter-spacing: 1.3px !important;
    padding: 20px 0;
    font-size: 0.9rem !important;
    margin-top: 0px !important;
  }

  .nav-ul li {
    font-size: 12px;
    padding-bottom: 5px;
  }

  .footer li {
    padding: 2px 0;
    line-height: 15px;
    font-size: 14px;
  }
}

@media screen and (max-width: 365px) {
  .slick-track {
    padding: 0px 3px;
  }

  .featured-release-img-div {
    margin-top: 10px;
  }
  .icon-button {
    left: -20px;
    bottom: 43px;
  }

  .nav-ul li {
    padding-bottom: 2px;
  }

  .featured-release-img-div img {
    padding-left: 0 !important;
  }

  .nav {
    padding: 0;
  }

  .first-group-bigtitle {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .slide {
    min-width: 100px;
  }

  .slick-track {
    padding: 0;
  }

  .slide-lower-div {
    margin-top: 50px;
  }

  .featured-release-title {
    font-size: 0.7rem !important;
  }
  .featured-release-text {
    font-size: 12px !important;
    padding: 5px 0;
  }

  .featured-release-text-div {
    padding: 2px 20px !important;
    margin-bottom: 60px !important;
  }

  .featured-release-bigtitle {
    font-size: 1.5rem !important;
  }

  .date-span {
    position: relative;
    bottom: 20px;
    left: 160px;
    font-size: 12px !important;
    max-width: 20%;
  }

  .footer li {
    padding: 0;
    line-height: 16px;
  }

  .featured-release-div {
    padding: 0 !important;
  }
}

@media (max-width: 320px) {
  .featured-release-text {
    line-height: 24px !important;
    letter-spacing: 1.3px !important;
  }
}
